<h1>{{project?.name}}</h1>

<project-header [project]="project"></project-header>
<div class="collapseContainer">
    <a type="button" (click)="collapseAll()">Collapse All</a>
    <a type="button" (click)="expandAll()">Expand All</a>
</div>
<div *ngFor="let language of languages">
    <div class="list-header" (click)="language.collapsed = !language.collapsed">{{language.name}}</div>
    <div *ngIf="!language.collapsed">
        <code-implementation [language]="language" [project]="project"></code-implementation>
        <code-implementation *ngFor="let moduleFile of project?.moduleFiles" [language]="language" [project]="project" [fileName]="moduleFile"
            [extension]="language.moduleExtension"></code-implementation>
        <ul>
            <li *ngFor="let note of project.notes[language.id]" [innerHTML]="note"></li>
        </ul>
    </div>
</div>