<div class="compareContainer">
    <div class="options">
        <language-selector languages="$ctrl.languages" language="$ctrl.language1"></language-selector>
        <language-selector languages="$ctrl.languages" language="$ctrl.language2"></language-selector>

        <button ng-disabled="(!$ctrl.language1 || !$ctrl.language2) || $ctrl.language1 == $ctrl.language2" ui-sref="compare({first:$ctrl.language1,second:$ctrl.language2})">Compare</button>
    </div>

    <div class="options">
        <project-selector projects="$ctrl.projects" project="$ctrl.project"></project-selector>
        <button ng-disabled="((!$ctrl.language1 || !$ctrl.language2) || $ctrl.language1 == $ctrl.language2) || !$ctrl.project" ui-sref="compare({first:$ctrl.language1,second:$ctrl.language2,project:$ctrl.project})">Compare Project</button>
    </div>
</div>