<h2>{{$ctrl.project.name}}</h2>
<div ng-bind-html="$ctrl.project.text"></div>
<div ng-if="$ctrl.project.type==='code' && $ctrl.project.output">
    <p style="text-decoration:underline">Expected Output:</p>
    <code-highlight language="textile" code="{{$ctrl.project.output}}"></code-highlight>
    <div ng-repeat="altOutput in $ctrl.project.alternativeOutputs">
        <p>{{altOutput.text}}</p>
        <code-highlight language="textile" code="{{altOutput.output}}"></code-highlight>
    </div>
</div>
<div class="list">
    <div class="listItem" ng-repeat="imp in $ctrl.project.implementations">
        <div class="itemHeader" ng-click="imp.$$collapsed = !imp.$$collapsed">
            <span class="language_title">{{imp.language.name}}</span>
            <div class="commandsContainer">
                <i class="command fa" ng-class="{ 'fa-chevron-down': imp.$$collapsed, 'fa-chevron-up': !imp.$$collapsed }"></i>
            </div>
        </div>
        <div ng-switch="$ctrl.project.type" ng-if="!imp.$$collapsed">
            <code-implementation ng-switch-when="code" implementation="imp"></code-implementation>
            <steps-implementation ng-switch-when="steps" steps="imp.steps"></steps-implementation>
        </div>
    </div>
</div>