<ol>
    <li ng-repeat="step in $ctrl.steps">
        <div ng-switch="step.type">
            <div ng-switch-when="install">
                <h4>Install {{step.program}}</h4>
                <p>Get it <a target="_blank" ng-href="{{step.link}}">here</a>.</p>
            </div>
            <div ng-switch-when="open">
                <h4>Open {{step.name}} ({{step.program}})</h4>
            </div>
            <div ng-switch-when="command">
                <h4>{{step.text}} running:</h4>
                <pre><code class="language-bash">> {{step.command}}</code></pre>
            </div>
            <div ng-switch-when="download">
                <h4>Download {{step.program}}</h4>
                <p>Get it <a target="_blank" ng-href="{{step.link}}">here</a>.</p>
            </div>
            <div ng-switch-default>
                <h4>{{step.title}}</h4>
                <div ng-bind-html="step.text"></div>
            </div>
        </div>
        <div ng-if="step.notes.length"  class="notes">
            <p class="title">Notes:</p>
            <ul>
                <li ng-repeat="note in step.notes" ng-bind-html="note"></li>
            </ul>
        </div>
    </li>
</ol>