<h1>{{language?.name}}</h1>
<div [innerText]="language?.description"></div>

<div class="collapseContainer">
    <a type="button" (click)="collapseAll()">Collapse All</a>
    <a type="button" (click)="expandAll()">Expand All</a>
</div>
<div *ngFor="let project of projects">
    <div class="list-header" (click)="project.collapsed = !project.collapsed">{{project.name}}</div>
    <div *ngIf="!project.collapsed && project.type == 'code'">
            <project-header [project]="project"></project-header>
            <code-implementation [language]="language" [project]="project"></code-implementation>
            <code-implementation *ngFor="let moduleFile of project?.moduleFiles" [language]="language" [project]="project" [fileName]="moduleFile"
                [extension]="language.moduleExtension"></code-implementation>
            <ul *ngIf="project.notes">
                <li *ngFor="let note of project.notes[language.id]" [innerHTML]="note"></li>
            </ul>
    </div>
    <div *ngIf="!project.collapsed && project.type == 'steps'">
        <steps-implementation></steps-implementation>
    </div>
</div>