<h1>Hello Languages</h1>
<p>This is my explorations in the most common languages. Simple to complex examples will be implemented parallelly on each language
    to outline its implementation of the intended funcitonalilty.</p>

<p>The current list of languages is:</p>
<ul>
    <li ng-repeat="lang in $ctrl.languages | filter: {current: true}">
        <a ng-href="{{lang.link}}" target="_blank">{{lang.name}}</a>
    </li>
</ul>

<p>All source code can be found <a target="_blank" href="https://github.com/Bigsby/HelloLanguages">this GitHub Repository</a>.</p>

<p>Programs:</p>
<ol start="0">
    <li ng-repeat="proj in $ctrl.projects">
        <a ng-if="proj.languages.length" ui-sref="project({id:proj.id})">{{proj.name}}</a>
        <span ng-if="!proj.languages.length">{{proj.name}}</span>
    </li>
</ol>

<p>To be included, one of these days:</p>
<ul>
    <li ng-repeat="lang in $ctrl.languages | filter: {current:false}"><a ng-href="{{lang.link}}" target="_blank">{{lang.name}}</a></li>
</ul>